/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */

/* Base Styles */
html {
  background-color: #EEE;
  color: #111;
  font-family: Helvetica, Arial, Georgia, "Time New Roman", Times, Menlo, serif;
  font-size: 18px; /*  */
  line-height: 24px; /*  */
}
h1 {
  font-size: 56.903px; /*  */
  line-height: 59px; /*  */
}
h2 {
  font-size: 45px;
  line-height: 50px;
}
h3 {
  font-size: 32.004px;
  line-height: 36px;
}
h4 {
  font-size: 25px;
  line-height: 30px;
}
/* Layout Styles */
#navigation h2 {
  position: absolute;
  left: -20000px; /*  */
}

/* Module Styles */

#header {
  background-color: inherit;
  color: inherit;
  text-align: center;
}
#navigation {
  font-family: Menlo, Helvetica, Arial, serif;
}
#navigation a {
  background-color: #444;
  color: #EEE;
  display: block;
  line-height: 0;
  padding: 24px; /*  */
  text-decoration: none;
}
#navigation a:hover,
#navigation a:active,
#navigation a:focus,
#home #nav-home,
#resume #nav-resume,
#about #nav-about {
  background-color: #777;
}
#navigation li {
  margin-bottom: 5px; /*  */
}

/* State Styles */
/*  */
@media screen and (min-width: 420px) {
  #navigation ul {
    display: flex;
    justify-content: center;
  }
  #navigation ul > li {
    flex: 1 0 auto;
    text-align: center;
  }
}

/* Theme Styles */
